*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 100%;
}
:root{
--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);

--VeryDarkBlue: hsl(234, 12%, 34%);
--GrayishBlue: hsl(229, 6%, 66%);
--VeryLightGray: hsl(0, 0%, 98%);
}
body{
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.979);
    font-family: 'Poppins';
    overflow-x: hidden;
}

main{
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}


.feature{
    width: 60%;
    display: grid;
    grid-template-rows: repeat(4,85px);
    grid-template-columns: repeat(3,minmax(175px, 1fr));
    grid-gap: 30px;
    padding-bottom: 2rem;
}

.child1,.child2,.child3,.child4{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(128, 128, 128, 0.774) ;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    text-align: left;
}

.child1{
    grid-row: 2/4;
    grid-column: 1/2;
    border-top:  0.4rem solid var(--Cyan);
}

.child2{
    background-color: #ffffff;
    grid-row:1/3;
    grid-column: 2/3;
    border-top:  0.4rem solid var(--Red);
}

.child3{
    background-color:#ffffff ;
    grid-row: 2/4;
    grid-column: 3/4;
    border-top:   0.4rem solid var(--Blue) ;
}

.child4{
    background-color:#ffffff ;
    grid-row: 3/5;
    grid-column: 2/3;
    border-top:   0.4rem solid var(--Orange);
}

.top h1{
    font-weight: 200;
    font-size: 2rem;
    color: var(--VeryDarkBlue);
}

.top h2{
    font-weight: 700;
    font-size: 2rem;
    color: var(--VeryDarkBlue);
}
p{
    font-size: 0.9rem;
    color: var(--GrayishBlue);
}
.top p{
    width: 60%;
    padding-left: 14rem;
}


.feature h3{
    font-weight: 600;
    margin-bottom: .5rem;
    color: var(--VeryDarkBlue);
}

.feature p{
    display: inline-flex;
}
.feature img{
    width: 25%;
    height: 25%;
    align-self: flex-end;
}


footer p{
    font-weight: 600;
    color: #084594;
    font-size: 1rem;
}
a{
    color: #573391;
}

@media screen and (max-width: 980px) {
    html{
        font-size: 95%;
    }
    
    main{
        margin-left: 5%;
        align-items: flex-start;
    }
    .top p{
        padding-left: 10rem;
    }
}

@media screen and (max-width: 650px) {
    html{
        font-size: 85%;
    }
    main{
        align-items: flex-start;
    }
    
    .feature{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    }
    .feature img{
        width: 10%;
        height: 10%;
    }
    .child1,.child2,.child3,.child4{
        min-height: 150px;
    }
    
    .top p{
        padding-left: 1rem;
        width: 90%;
    }
}
